.navbar {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 999;
    transition: all 0.3s ease;
}

.navbar-logo img {
    max-width: 200px;
    padding-left: 100px;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
    opacity: 1;
    padding-right: 80px;
    column-gap: 40px;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #121212;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: .02em;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #d0af8a;
}

.navbar-icons {
    display: flex;
    align-items: center;
    opacity: 1;
    margin-left: 20px;
    padding-right: 200px;
}

.material-symbols-outlined {
    margin-left: 30px;
    font-size: 30px;
    color: #5c5c5c;
    transition: all 0.3s ease;
}

.material-symbols-outlined:hover {
    transform: scale(1.2);
    color: #d0af8a;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 50px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 12px;
    font-weight: lighter;
    color: rgb(37, 34, 34);
    padding: 12px 16px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #d0af8a;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .nav-links a {
    color: rgb(44, 41, 41);
}

.dropdown:hover .dropdown:not(.show) {
    display: none;
}